<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manflas</title>
</head>
<body>
  <p>Fecha de ejecución: <%= @reporte.formatted_created_at.to_s  %></p>
  <p>Cuartel: <%= @reporte.dynamic_attributes['title'] || "Cuartel no seleccionada" %></p>
  <p>Reporte PDF: <a href="<%= @url %>">Click aqui</a></p>
</body>
</html>
